nav {
    
    margin: 0;
    background-color: #FFFFFF;
    ;
    display: flex;
    width:1600px ;
    top: 80px;
}



ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.WebStudio{
    width:145px ;
    height:30px ;
font-family: 'Raleway' ;
} 
.Студія{
    color: #2196F3;
    ;
    width:45px ;
    height:16px ;
}
.Портфоліо{
    color: #212121    ;
    width:72px ;
    height: 16px;
}
.Контакти{
    color:#212121
    ;
    width:64px ;
    height: 16px ;
}
.infodevstudio-com{
    color:#2196F3
    ;
    width:135px ;
    height:16px ;

}